<div class="wrapper">
  <br>
  <h4>Order Information</h4>
  <strong>Order ID: </strong><%= @order.id %><br>
  <strong>Product Name: </strong><%= @order.product.name %><br>
  <strong>Product Price: </strong><%= number_to_currency(@order.product.price.to_i) %><br>
  <strong>Total Price: </strong><%= number_to_currency(@order.total.to_i) %><br>
  <br>
  <div class="user-buttons">
    <%= link_to 'back', orders_path %>
  </div>
</div>
