<h2><%= @product.name %> info</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'edit', edit_product_path(@product) %> |
<%= link_to 'back', products_path %>
