<!--<div class="container">
  <h2><%= @product.name %> info</h2>
  <p id="notice"><%= notice %></p>

  <p>
    <%= image_tag(@product.image_url, class: "img-fluid") %>
  </p>

  <p>
    <strong>name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>price:</strong>
    <%= @product.price %>
  </p>

  <%= link_to 'edit', edit_product_path(@product), class: "user-buttons" %> |
  <%= link_to 'back', products_path, class: "user-buttons" %>
  <br>
  <%= @product.highest_rating_comment.try(:rating) %>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <%= image_tag(@product.image_url, class: "img-fluid") %>
    </div>
    <div class="col-md-6 col-sm-6">
      <b>name:</b>
      <%= @product.name %>
      <br>
      <b>description:</b>
      <%= @product.description %>
      <br>
      <b>colour:</b>
      <%= @product.colour %>
      <br>
      <b>price:</b>
      €<%= @product.price %>

    </div>
  </div><!-- end row-->
</div><!--end container-->
