<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.product_image.url") %>
    </div>
    <div class="col-md-6 col-sm-6">
      <% cache @product do %>
      <h3><%= @product.name %></h3>

      <p>
        <b>description:</b>
        <%= @product.description %>
      </p>

      <p>
        <b>colour:</b>
        <%= @product.colour %>
      </p>

      <p>
        <b>price:</b>
        €<%= @product.price %>
      </p>
      <% end %>
      <p>
        <b>Average Rating:</b>
        <p class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></p>
      </p>

      <div class="user-buttons">
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>
    </div>


      <div class="user-buttons">
        <%= link_to 'edit', edit_product_path(@product) %> |
        <%= link_to 'back', products_path %>
      </div>
    </div>
  </div><!-- end row-->
      <%= render 'new_comment' %>
      <div class="alert alert-info wrapper" style="display:none" role="alert">A new comment was posted!</div>
      <%= render 'comments' %>
  <div class="user-buttons">
      <%= will_paginate @comments %>
  </div>
</div><!--end container-->
