<!DOCTYPE html>
<html>
  <head>
    <title>AgnesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <nav class="navbar">
      <ul class="nav nav-pills">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "about", simple_pages_about_path %></li>
        <li><%= link_to "contact", simple_pages_contact_path %></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      <p>&copy; 2018 bike berlin</p>
    </footer>

  </body>
</html>
