<!DOCTYPE html>
<html>
  <head>
    <title>bike berlin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bikesNav">
                <span class="icon-bar glyphicon glyphicon-list"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Bike Berlin", root_path, id: "brand-logo" %>
          </div> <!-- end header -->
          <div class="collapse navbar-collapse" id="bikesNav">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "home", root_path %></li>
              <li><%= link_to "products", products_path %></li>
              <li><%= link_to "about", simple_pages_about_path %></li>
              <li><%= link_to "contact", simple_pages_contact_path %></li>
              <li><%= link_to "orders", orders_path %></li>
            </ul>
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to('log out', destroy_user_session_path, method: :delete, id: "login-btn") %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to('log in', new_user_session_path, id: "login-btn") %>
              </li>
              <% end %>
            </ul>

          <div class="navbar-form navbar-right">
              <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
                <%= form.text_field :q, id: 'q', value: params[:q] %>
                <%= form.submit 'search', class: 'btn btn-default' %>
              <% end %>

          </div>
        </div>
      </div> <!-- end container -->
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% elsif alert %>
      <p class="alert alert-warning"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer>
      <p>&copy; 2018 bike berlin</p>
    </footer>

  </body>
</html>
